<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>264721932737-fbmcn0kerba600cjrh8r282g87aqf7cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264721932737-fbmcn0kerba600cjrh8r282g87aqf7cd</string>
	<key>API_KEY</key>
	<string>AIzaSyAOBuTDsdavMSLXFQHZpo7heVbiFOcZrFk</string>
	<key>GCM_SENDER_ID</key>
	<string>264721932737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.STAPP.HIRAGANALearning2-character-</string>
	<key>PROJECT_ID</key>
	<string>hiragana2-character-admob</string>
	<key>STORAGE_BUCKET</key>
	<string>hiragana2-character-admob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264721932737:ios:76f118ea43fc1c09</string>
	<key>DATABASE_URL</key>
	<string>https://hiragana2-character-admob.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3240594386716005~2657405700</string>
</dict>
</plist>